<div class="container">

  <h1>GitHub Search</h1>

  <form>
      <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Enter Username" (keyup)="getProfile()">
        </div>
    </form>
<div class="row">
   <div class="col-md-6"> 
<div class="search-class">
  <button id='users' class="btn btn-warning" (click)="searchUsers = true">Users</button>
  <button id='repos' class="btn btn-info" (click)="searchUsers = false" class="repo">Repos</button>

</div>
<p class="moring"></p>

</div>


<div class="col-md-6">
<div *ngIf="searchUsers" class="top">
  <div class="profile">
    <img src="{{user.avatar_url}}" alt="avatar" hight="300px" width="250px">
    <br>
    <br>

  </div>
 
  
</div>
<div class="details row">
    <h3>{{user.name}}</h3>
    <p class="">Followers <span>{{user.followers}}</span></p>
    <p class="">Following <span>{{user.following}}</span></p>
    <p class="">Repositories<span>{{user.public_repos}}</span></p>
</div>
<a href="{{user.html_url}}" target="_blank"><button class=" btn btn-success">Checkout Profile </button></a>

</div>
</div>

<div *ngIf="!searchUsers">
  <div class="container repo-row">
    <div *ngFor="let rep of repo" class="some-card">
      <a href="{{rep.html_url}}" target="_blank">
          <h3>{{rep.name}}</h3>
          <p>{{rep.description}}</p>
          <p>{{rep.created_at |dateCount}}</p>
      </a>
      
    </div>
    
  </div>
</div>


</div>

