@import "~bootstrap/dist/css/bootstrap.css";

body {
     background-image: url('/assets/photo\ new\ bacjpeg');
     background-repeat: no-repeat ;
     background-size: cover;
    padding: 0 10vw;
    /* text-align: center; */
  };

  .some-card{
    text-align: center;
    border-radius: 20%;
    box-sizing: border-box;
    
    
  } 
  